@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");

:root {
  font-family: "Poppins", sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  max-width: 100px;
  margin: 0.5rem auto;
  padding: 2px;
  font-size: 25px;
  text-align: center;
  color: #1d4ed8;
  border-bottom: 4px solid aqua;
  margin-bottom: 1rem;
}

.container {
  max-width: 800px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 1rem;
  border: 3px solid #6d28d9;
  border-radius: 0.8rem;
  text-align: center;
  box-shadow: 3px 3px 3px #c6a4ec;
}

#usr-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#usr-name {
  font-weight: bold;
  font-size: larger;
  color: #1d4ed8;
  margin: 0px;
}

#usr-position {
  margin: 0px;
  font-weight: 400;
}

#usr-review {
  max-width: 600px;
}

.buttons {
  max-width: 400px;
  margin: auto;
  /* padding: 0px; */
  text-align: center;
}

button {
  border: 2px solid black;
  height: 70px;
  width: 70px;
  padding: 1rem;
  background-color: white;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0.5rem;
  box-shadow: 3px 3px 3px #c6a4ec;
}

button:hover {
  opacity: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

.footer a {
  color: #1d4ed8;
  text-decoration-color: black;
}

.footer a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .footer {
    position: relative;
  }
}
